@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Cormorant+SC:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.album-images-form .album-details-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: #050505 1px solid;
  background-color: white;
  padding: 24px 0;
}
.album-images-form .album-details-forms .user-selector {
  width: 100%;
}
.album-images-form .album-details-forms #all-files-modifications {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.album-images-form .album-details-forms #all-files-modifications #all-file-names {
  font-size: 1.2rem;
  text-align: center;
  color: #050505;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #050505;
  margin: 10px 0;
  max-width: 90%;
  width: 90%;
}
.album-images-form .album-details-forms #all-files-modifications #all-file-names:focus {
  outline: none;
}
.album-images-form .album-details-forms #save-button {
  font-family: "Comfortaa", sans-serif;
  margin-top: 65px;
  border-radius: 200px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, rgb(237, 162, 89), rgb(80, 59, 186));
  color: white;
  width: 80%;
  height: 40px;
  font-size: 18px;
  z-index: 1;
  align-self: center;
  cursor: pointer;
  position: relative;
  transition: background 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 200px;
}
.album-images-form .album-details-forms #save-button.disabled {
  background: grey;
  cursor: not-allowed;
  transition: background 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.album-images-form .album-details-forms #save-button:hover {
  transform: translate(0, -2.5px);
}
.album-images-form .album-details-forms #save-button:active {
  transform: translate(0, 0px);
}
.album-images-form .album-details-forms #save-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(237, 162, 89), rgb(80, 59, 186));
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 200px;
  transition: transform 0.25s ease-in-out, filter 0.25s ease-in-out;
  transform: translate(0);
  filter: blur(10px);
}
.album-images-form .album-details-forms #save-button:hover::after {
  transform: translate(0, 2.5px);
}
.album-images-form .album-details-forms #save-button:active::after {
  transform: translate(0, 0px);
  filter: blur(5px);
}
.album-images-form .album-details-forms #save-button.disabled:hover, .album-images-form .album-details-forms #save-button.disabled:active, .album-images-form .album-details-forms #save-button.disabled::after {
  transform: translate(0, 0);
  background: grey;
  filter: none;
}
.album-images-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.album-images-form form .images-preview {
  display: flex;
  width: 100%;
}
.album-images-form form .images-preview .images-preview-column {
  display: flex;
  flex-direction: column;
  background-clip: padding-box;
  padding: 0 7.5px;
}
.album-images-form form .images-preview .images-preview-column > * {
  margin: 7.5px 0;
}
.album-images-form form .drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 200px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  background-color: #FAF0E8;
  outline: #f1d5be dashed 5px;
  transition: all 0.3s;
}
.album-images-form form .drop-zone:hover, .album-images-form form .drop-zone.dragging {
  background-color: #ffefe3;
  outline-color: transparent;
}
.album-images-form form .drop-zone:before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 10px;
  background: linear-gradient(135deg, rgb(237, 162, 89), rgb(80, 59, 186));
  opacity: 0;
  transition: all 0.3s;
}
.album-images-form form .drop-zone:hover:before, .album-images-form form .drop-zone.dragging:before {
  opacity: 1;
}
.album-images-form form .drop-zone p {
  font-size: 1.2rem;
  color: #050505;
}
@media (min-width: 700px) {
  .album-images-form form .drop-zone {
    width: 50%;
    max-width: 600px;
  }
}

/*# sourceMappingURL=AlbumImagesForm.css.map */
