@import "../../styles/mixins/fonts";
@import "../../styles/variables/colors";

html {
    background-image: radial-gradient(
        circle at 50% 0%,
        rgb(255, 248, 243) 0%,
        $cream 100%
    );
    min-height: 100vh;
}

header {
    
    $header-height: 72px;
    
    @include comfortaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(12, 12, 20, 0.5);
    width: 100%;
    height: $header-height;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    
    h2 {
        color: white;
        padding: 0;
        font-size: 24px;
        line-height: $header-height;
        margin: 0 0 0 24px;
    }
}

@media (min-width: 768px) {
    header {
        h2 {
            font-size: 32px;
        }
    }
    
}