@import "../../styles/variables/colors.scss";
@import "../../styles/mixins/gradient_button";

.album-images-form {
	
	#save-button {
		@include gradient-button();
		width: 200px;
	}
	
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		
		.images-preview {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		
		.drop-zone {
			$border-size: 5px;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 80%;
			height: 200px;
			border-radius: 5px;
			margin: 10px 0;
			cursor: pointer;
			background-color: darken($cream, 2%);
			transition: all 0.3s;
			
			&:hover, &.dragging {
				background-color: saturate($cream, 50%);
			}
			
			&:before {
				content: '';
				position: absolute;
				width: calc(100% + ($border-size * 2));
				height: calc(100% + ($border-size * 2));
				z-index: -1;
				border-radius: 10px;
				background: photo-gradient(135deg);
				opacity: 0;
				transition: all 0.3s;
			}
			
			&:hover:before, &.dragging:before {
				opacity: 1;
			}
			
			p {
				font-size: 1.2rem;
				color: $black;
			}
		}
		
		#all-files-modifications {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			#all-file-names {
				font-size: 1.2rem;
				text-align: center;
				color: $black;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $black;
				margin: 10px 0;
				max-width: 90%;
				width: 90%;
				
				&:focus {
					outline: none;
				}
			}
		}
		
		@media (min-width: 700px) {
			.images-preview {
				width: 100%;
				max-width: 100%;
				box-sizing: border-box;
				padding: 5%;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
			}
			
			.drop-zone {
				width: 50%;
				max-width: 600px;
			}
		}
	}
}